[submodule "Hybrid_IPaaS_IOProject"]
	path = Hybrid_IPaaS_IOProject
	url = https://github.com/wMtig/Hybrid_IPaaS_IOProject.git
[submodule "https://github.com/wMTiG/Hybrid_IO_Sync_IPaaS.git"]
	branch = dev
[submodule "https://github.com/wMTiG/Hybrid_IO_Sync_IPaasProject.git"]
	branch = featureA
[submodule "Hybrid_IO_Sync_IPaaS"]
	path = Hybrid_IO_Sync_IPaaS
	url = https://github.com/wMTiG/Hybrid_IO_Sync_IPaaS.git
[submodule "Hybrid_IO_Sync_IPaaSProject"]
	path = Hybrid_IO_Sync_IPaaSProject
	url = https://github.com/wMTiG/Hybrid_IO_Sync_IPaaSProject.git
